extends ../layout/main

block variables
    - var title = 'Webpack + Pug'
    - var description = 'Description'
    - var pageClass = 'index-page'


block content
    section
        .container
            +item('Leader', 'Block leader')
            +item('Group', 'Block group')
            +item('Events', 'Block events')
        #app
            example-component